.AddActivity {
  width: 100vw;
  max-width: 100vw;
  padding-top: 75px;
  background: black;
}

.AddActivity-Row {
  height: calc(50vh - 37.5px);
}

.AddActivity-ActivitiesSelected {
  background-color: royalblue;
  transition: width 0.25s ease;
}

.AddActivity-Time {
  background-color: darkgreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: white;
}

.AddActivity-Time div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AddActivity-Time input {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  width: 250px;
}

.AddActivity-Description {
  background-color: slateblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px !important;
  color: white;
  font-size: 22px;
}

.AddActivity-RowMinor {
  height: 50%;
}

.AddActivity-Study {
  background-color: lightslategray;
}
.AddActivity-Rest {
  background-color: lightgray;
}
.AddActivity-Volunteer {
  background-color: skyblue;
}
.AddActivity-Grade {
  background-color: darkslategrey;
}

.AddActivity-Submit {
  cursor: pointer;
  background-color: lightsalmon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  opacity: 0.75;
  transition: opacity 0.25s ease;
}
.AddActivity-Submit:hover {
  opacity: 1;
}
.AddActivity-Submit span {
  transition: color 2s ease;
}

.Activity {
  cursor: pointer;
  transition: opacity 0.25s ease;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.Activity:hover {
  opacity: 0.75;
}

.AddActivity-Spinner {
  position: absolute;
  height: 250px;
  width: 250px;
  top: 50vh;
  left: 50vw;
  font-size: 250px;
}

@media screen and (max-width: 768px) {
  .AddActivity-Description {
    padding-right: 30px !important;
  }
}
