.AdminPage {
  width: 100vw;
  max-width: 100vw;
  padding-top: 95px;
  background-color: lightseagreen;
}

.ApprovalContainer {
  width: 70vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ApprovalContainer ul {
  margin-top: 15px;
  width: 100%;
}
.ApprovalContainer li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ApprovalContainer li span {
  margin: 5px;
}

.Admin-Icons {
  display: flex;
  flex-direction: column;
}

.Admin-Icons svg {
  cursor: pointer;
  margin: 5px;
}

.Admin-Icons svg:hover {
  color: gray;
}

.ApprovalHolder {
  background-color: white;
  height: 15vh !important;
  width: 65vw !important;
  padding: 16px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  color: white;
  font-size: 52px;
  font-weight: 600;
}
