.NavBar-Wrapper {
  width: 100%;
  position: fixed;
  background-color: rgba(28, 133, 127, 0.767);
  display: flex;
  flex-direction: column;
  color: white;
  padding-right: 15px;
  z-index: 9999;
  box-shadow: 0px 0px 3px black;
}

.NavBar {
  min-height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.NavBar-Items {
  display: none;
  flex-direction: row;
}

.NavBar-Collapsable {
  margin-right: 25px;
  padding: 10px;
}

.NavBar-Collapsable--Icon {
  font-size: 24px;
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px;
}

.NavBar-Collapsable--Content {
  width: 100vw;
  height: 190px;
  padding-top: 25px;
}

.NavBar-Collapsable--Content .NavBar-Items {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.NavBar-Collapsable--Content .NavBar-Item {
  margin-bottom: 5px;
  font-size: 18px;
}

.NavBar-Item {
  font-size: medium;
  margin: 0 5px;
}

.NavBar-Item a {
  color: white;
  text-decoration: none;
  padding: 15px;
  border-radius: 4px;
  transition: background-color 0.25s ease;
  outline: none;
}
.NavBar-Item a:hover {
  background-color: rgba(211, 211, 211, 0.425);
  text-decoration: none;
}

.NavBar-Home {
  font-size: 24px;
  margin-left: 25px;
}

.NavBar-Home a {
  outline: none;
  color: white;
  text-decoration: none;
}

.NavBar-Home a:hover {
  text-decoration: none;
}

.NavBar-Divider {
  height: 2px;
  justify-self: center;
  background-color: white;
  position: absolute;
  top: 75px;
  transition: width 0.25s ease;
}

@media screen and (min-width: 768px) {
  .NavBar-Collapsable--Icon {
    display: none;
    width: fit-content;
  }

  .NavBar-Divider {
    display: none;
  }

  .NavBar-Items {
    display: flex;
  }
}
